<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
   	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
   		<property name="prefix" value="/" />
   		<property name="suffix" value=".jsp" />
   	</bean>
   	<bean id="multipartResolver" 
   		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!--可设置上传文件大小限制，1024*200即200k-->
 		<property name="maxUploadSize" value="204800"/>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
   	<!-- 开启注解  -->
   	<context:component-scan base-package="com.starmusic.controller" />
   	<!-- web -->
   	<mvc:annotation-driven>
   		<mvc:message-converters>
   			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
   				<property name="supportedMediaTypes">
   					<list>
   						<value>text/html;charset=UTF-8</value>
   						<value>application/json;charset=UTF-8</value>
   					</list>
   				</property>
   			</bean>
   			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
   				<property name="supportedMediaTypes">
   					<list>
   						<value>text/html;charset=UTF-8</value>
   						<value>application/json</value>
   					</list>
   				</property>
   				<property name="features">
   					<list>
   						<!-- 输出Date的日期转换器 -->
   						<value>WriteDateUseDateFormat</value>
   					</list>
   				</property>
   			</bean>
   		</mvc:message-converters>
   	</mvc:annotation-driven>
   	<mvc:interceptors>
   		<mvc:interceptor>
   			<mvc:mapping path="/**"/>
   			<mvc:exclude-mapping path="/login.jsp"/>
   			<mvc:exclude-mapping path="/login.do"/>
   			<mvc:exclude-mapping path="/css/**"/>
   			<mvc:exclude-mapping path="/js/**"/>
   			<mvc:exclude-mapping path="/images/**"/>
   			<bean class="com.starmusic.interceptor.UserHandlerInterceptor" />
   		</mvc:interceptor>
   	</mvc:interceptors>
   	<!-- 开启静态资源  js,img,css,html-->
   	<!-- <mvc:default-servlet-handler/> -->
   	<mvc:resources location="/" mapping="/**" />
   	
</beans>